:root {
    --width-mobile: 375px;
    --width-desktop: 1440px;

    --bg-main: #181719;
    --color-main: #ffffff;
    --color-footer: #A9A9A9;
    --color-gray: #828282;

    --font-logo: 'Crimson Pro', serif;
    --font-title: 'Lora', serif;
    --font-main: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-main);
}

.wrapper {
    width: var(--width-mobile);
    margin: 0 auto;
    padding: 19px 12px;
    font-family: var(--font-main);
    color: var(--color-main);
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
}

.logo {
    padding: 8px;
    font-family: var(--font-logo);
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px solid var(--color-main);
}

.hamburger-menu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -16px;
    width: 29px;
    height: 29px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-main);
    transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}

.menu__box {
    display: block;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: var(--width-mobile);
    height: 100vh;
    margin: 0;
    padding: 158px 0 80px 0;
    list-style: none;
    text-align: center;
    background-color: var(--bg-main);
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .15s;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.nav__item:not(:last-child){
    margin-bottom: 32px;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--color-main);
    text-decoration: none;
    transition: color 0.3s ease;
}

.active {
    font-weight: 700;
}

.menu__item:hover
{
  background-color: #CFD8DC;
}

.main__title {
    margin-bottom: 25px;
    font-family: var(--font-title);
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.main__text {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.main__btn {
    display: block;
    margin-bottom: 37px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: var(--color-main);
    text-decoration: none;
}

.main__img {
    width: 100%;
    object-fit: cover;
}

.main__about {
    position: relative;
    top: -50px;
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    padding: 13px 19px 25px 19px;
    background-color: var(--bg-main);
}

.author {
    display: flex;
}

.author {
    margin-bottom: 17px;
}

.author__name {
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.author__role {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: var(--color-gray);
}

.author__img {
    order: -1;
    margin-right: 14px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.main__about__designed {
    margin-right: 45px;
    font-family: var(--font-title);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.footer__main {
    display: flex;
    justify-content: center;
}

.footer__text {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: var(--color-footer);
    border-top: 1px solid var(--color-footer);
}

@media only screen and (min-width: 700px) {
    .wrapper {
        box-sizing: border-box;
        width: var(--width-desktop);
        padding: 42px 77px;
    }

    .header {
        margin-bottom: 125px;
    }

    #menu__toggle, .menu__btn {
        position: absolute;
	    width: 1px;
	    height: 1px;  margin: -1px;
	    border: 0;
	    padding: 0;
	    white-space: nowrap;
	    clip-path: inset(100%);
	    clip: rect(0 0 0 0);
	    overflow: hidden;
    }

    .menu__box {
        position: relative;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        visibility: visible;
    }

    .nav__item:not(:last-child) {
        margin-right: 40px;
    }

    .menu__item {
        padding: 6px 3px;
    }

    .menu__item:hover {
        background-color: initial;
        color: #CFD8DC;
    }


    .main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .main__desc {
        margin-right: 140px;
    }

    .main__title {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 61px;
    }

    .main__text {
        margin-bottom: 48px;
        font-size: 24px;
        line-height: 29px;
    }

    .main__btn {
        font-size: 18px;
        line-height: 22px;
    }

    .main__img {
        width: 737px;
    }

    .main__about {
        top: -70px;
        right: -130px;
        width: 410px;
        padding: 23px 97px 34px 26px;
    }

    .author__name {
        font-size: 14px;
        line-height: 17px;
    }

    .author__role {
        font-size: 12px;
        line-height: 14px;
    }

    .author__img {
        width: 50px;
    }
    .main__about__designed {
        font-size: 24px;
        line-height: 30px;
    }

    .footer__text {
        border: none;
    }
}